#result {
display: none;
}

.header {
  text-align: center;
  color: white;
  background-color: teal;
  padding: 30px;
}

#numeral, #product, #about {
  text-align: center;
}

#result, .container, .btn, .intro, .col-4, .col-8 {
  padding: 30px;
  font-size: 1.2em;
}

ul, .intro {
  font-size: 1.2em;
}

#about {
  padding: 20px;
}
